.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center
}

.container-horizontal{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 45%;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.item-default {
    margin: 2px;
}

.main-item {
    width: 100%;
    border-width: 0.5px;
    border-color: #333;
    border-style: solid;
}
.item{
    background: red;
    height: calc((100%/2) - 4px)
}

.item-title {
    color : #333;
    padding: 30;
    display: block;
    font-size: 1em;
}

.item-subtitle{
    font-size: 1.5em;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    padding: 30 110px 30 30;
    line-height: 1.1;
}

.main-item-title{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 2.4em;
    line-height: 1.3em;
    padding: 0 30 0 30;
    font-weight: bold;
    color: darkred;
}

.main-item-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 15;
    color: darkred;
    padding: 30 30 0 30;
    display: block;
}

.img-bg {
    background-image: url("/img/alemanha22.jpg");
    background-size: 100%;
    background-repeat:   no-repeat; 
}