.main-container{
    display: flex;
    flex-direction: row;
    height: 500px;
}

.container {
    display: flex;
    flex-direction: row;
    float: left; 
    width: 100%; 
}

.item{
    background: red;
    border-style: solid;
    border-width: 3px;
    width: 50% 
    
}

.main-item{
    background: red;
    width: 100%;
}

.sub-item {
    width: calc(90%/2);
    height: 200px;
}