.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    justify-content: center
}

.container-horizontal{
    display: flex;
    flex-direction: row;
    width: 45%;
}

.container-vertical {
    display: flex;
    flex-direction: column;
    width: 45%; 
}

.item-default {
    margin: 2px;
}

.main-item {
    width: 100%;
    border-width: 0.5px;
    border-color: #333;
    border-style: solid;
}
.item{
    background: red;
    height: calc(100%/2);
}

.item-title {
    color : #333;
    padding: 30;
    display: block;
}

.item-subtitle{
    font-size: 32px;
    letter-spacing: -1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    display: block;
    padding: 30 110px 30 30;
    line-height: 1.1;
}

.main-item-title{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 38;
    padding: 30 30 0 30;
    font-weight: bold;
    color: darkred;
}

.main-item-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 38;
    padding: 30 30 0 30;
    color: red;
    display: block;
}

.main-item li{
    color: blue;
}